.pure-g
  .pure-u-1.pad-10
    %h1 Resend unlock instructions

= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'pure-form pure-form-stacked' }) do |f|
  = devise_error_messages!
  .pad-10
    = f.label :email
    = f.email_field :email, autofocus: true
  .pad-10
    = f.submit "Resend unlock instructions", class: 'pure-button success'

.pure-g
  .pure-u-1.pad-10
    = render "devise/shared/links"
