.pure-g
  .pure-u-1.pad-10
    %h1 Change your password

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'pure-form pure-form-stacked' }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .pad-10
    = f.label :password, "New password"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autofocus: true, autocomplete: "off"
  .pad-10
    = f.label :password_confirmation, "Confirm new password"
    = f.password_field :password_confirmation, autocomplete: "off"
  .pad-10
    = f.submit "Change my password", class: 'pure-button success'

.pure-g
  .pure-u-1.pad-10
    = render "devise/shared/links"
