.pure-g
  .pure-u-1.pad-10
    %h1 Forgot your password?

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'pure-form pure-form-stacked' }) do |f|
  = devise_error_messages!
  .pad-10
    = f.label :email
    = f.email_field :email, autofocus: true
  .pad-10
    = f.submit "Send me reset password instructions", class: 'pure-button success'

.pure-g
  .pure-u-1.pad-10
    = render "devise/shared/links"
