= form_for [@post.game, @post.event, @post], html: {class: 'pure-form pure-form-stacked'} do |f|
  - if @post.errors.any?
    #error_explanation.pad-10
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .pad-10
    = f.label :title
    = f.text_field :title
  .pad-10
    = f.label :checkpoint
    = f.text_field :checkpoint

    = f.text_field :user_id, value: current_user.id || User.find_by_email(params[:user_email]).id
  .pad-10
    = f.submit 'Save', class: 'pure-button success'
