!!!
%html
  %head
    %title PS4 LFG
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    / Renders navigation unless app request
    - unless session[:show_navigation] == 'false'
      = render partial: 'layouts/navigation'
    - else
      .margin-top-5

    .container
      -# Notices should be handled in app to avoid web view issues
      -# = render partial: 'layouts/notices'
      = yield
